body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 20, 50);
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: rgb(120, 20, 120);
    padding: 20px;
    border: solid black 2px;
    border-radius: 50px;
}

.campos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 50px;
}

input {
    width: 300px;
}

a {
    margin-top: 30px;
    margin-left: 175px;
    color: rgb(110, 200, 230);
}